@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,900;1,100;1,400&family=Playfair+Display:ital,wght@0,400;0,900;1,400&display=swap");
* {
	padding: 0%;
	margin: 0%;
	font-family: "Lato";
}

body {
	margin-inline: 20%;
}

#header_annoucment {
	display: flex;
	justify-content: space-between;
	font-size: 13px;
	color: #959595;
}

#header_announcment_left {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

#navbar #action_link #shopping_cart_items {
	position: relative;
}

#navbar #action_link #shopping_cart_items #item_count {
	position: absolute;
	color: white;
	background-color: #cf2226;
	border-radius: 8px;
	width: 16px;
	height: 16px;
	left: 30px;
	bottom: 15px;
}

#header_announcment_right {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 10px;
}

#shipping {
	padding: 10px 20px;
}

#action_link button {
	background: none;
	border: none;
	font-size: 16px;
}

.link_rm {
	text-decoration: none;
	color: black;
	font-weight: 400;
	font-size: 14px;
}

#navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
	padding-bottom: 10px;
}

#navbar #title {
	font-size: 30px;
	font-family: "Playfair Display";
}

#navbar #action_link {
	display: flex;
	font-size: 14px;
	font-family: "Lato";
	font-weight: 400;
}

#navbar #action_link a {
	padding: 10px 15px;
}

#navbar #action_link button {
	padding: 10px 15px;
}

#img_container {
	height: 550px;
	background-color: #a3a3a3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#img_container #sale {
	line-height: 110px;
	margin-top: 20px;
	font-size: 100px;
	font-style: italic;
	font-family: "Playfair Display";
	color: #ffffff;
}

#align_container {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#align_container button {
	background-color: black;
	color: whitesmoke;
	padding: 15px;
	border: none;
}

#align_container #percentage_off {
	font-size: 120px;
	color: #ffffff;
}

#img_container #shop_now {
	background: none;
	border: 1px solid #ffffff;
	padding-inline: 20px;
	padding: 20px;
	margin-top: 40px;
	font-family: "Playfair Display";
	font-weight: 700;
	font-size: 18px;
	color: #ffffff;
}

#slider_footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2px;
	font-size: 18px;
	color: #ffffff;
	padding-top: 50px;
}

#slider_footer #ratios {
	font-size: 30px;
	color: #ffffff;
	font-weight: 700;
	font-family: "Playfair Display";
	text-align: center;
}

#slider_footer #end {
	font-size: 18px;
	line-height: 30px;
	color: #ffffff;
	font-weight: 700;
	font-family: "Playfair Display";
	text-align: center;
}

#slider_footer #season {
	font-size: 14px;
	line-height: 30px;
	color: #ffffff;
	font-weight: 400;
	text-align: center;
}

#header_category {
	padding-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#header_category .cards {
	display: flex;
	align-items: center;
	border: 1px solid black;
}

.cards #category_image {
	background-color: #cccccc;
	height: 100px;
	width: 100px;
	margin: 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 60px;
	color: white;
}

#header_category .cards {
	padding: 5px 10px;
}

#header_category .cards:nth-child(2) {
	border-left: none;
	border-right: none;
}

#header_category .cards .description #category_title {
	font-size: 16px;
	color: #000000;
	font-weight: 700;
}

#header_category .cards .description #category_description {
	font-size: 14px;
	font-style: italic;
	color: #959595;
	font-weight: 400;
}

#header_content {
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#header_content #items {
	font-family: "Playfair Displa";
	font-size: 16px;
}

#header_content #items_description {
	font-family: "Playfair Displa";
	font-size: 20px;
	font-style: italic;
}

#header_indicator {
	padding-top: 20px;
	display: flex;
	gap: 9px;
	justify-content: center;
	align-items: center;
}

#header_indicator span {
	display: block;
	background-color: #cccccc;
	border-radius: 50%;
	width: 5px;
	height: 5px;
}

#sections {
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
	gap: 15px;
}

#sections #section_img {
	position: relative;
	width: 200px;
	height: 250px;
	background-color: #cccccc;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

#sections #section_title {
	font-size: 16px;
	font-weight: 400;
	color: #000000;
}

#sections #section_description {
	font-size: 14px;
	color: #959595;
	font-weight: 400;
	font-family: "Playfair Display";
}

#sections .section_parition {
	display: flex;
	flex-direction: column;
	text-align: center;
}

#sections .section_parition #section_info {
	margin-top: 20px;
}

#sections .section_parition #section_img .far {
	font-size: 16px;
	background-color: black;
	border-radius: 50%;
	color: #ffffff;
	padding: 10px;
}

.section_parition #section_img #editor {
	position: absolute;
	bottom: 0%;
	padding: 5px 5px;
	background-color: #5064fa;
	font-family: "Lato";
	font-size: 10px;
	color: #ffffff;
	font-weight: 500;
}

.section_parition #section_img #exclusive {
	position: absolute;
	bottom: 0%;
	padding: 5px 5px;
	background-color: #fad232;
	font-family: "Lato";
	font-size: 10px;
	color: #ffffff;
	font-weight: 500;
}

.section_parition #section_img #sales_off {
	position: absolute;
	background-color: #959595;
	width: 60px;
	height: 15px;
	left: 75px;
	text-align: center;
	bottom: 0%;
	font-family: "Lato";
	font-size: 10px;
	color: #ffffff;
	font-weight: 500;
}

.section_parition #section_img #new {
	background-color: #b4d93d;
	position: absolute;
	bottom: 0%;
	padding: 5px 5px;
	font-family: "Lato";
	font-size: 10px;
	color: #ffffff;
	font-weight: 500;
}

.section_parition #section_img .section_actions,
.section_parition #section_img #section_ratings {
	opacity: 0;
}

.section_parition #section_img .section_actions:hover,
.section_parition #section_img #section_ratings:hover {
	opacity: 1;
}

.grid-container {
	padding-top: 60px;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	grid-gap: 15px;
}

.grid-container > div {
	background-color: lightgrey;
	text-align: center;
	padding: 50px 90px;
	width: 100px;
	font-size: 30px;
}

.grid-container #item1,
#item2,
#item3,
#item4 {
	justify-content: center;
	flex-direction: column;
	align-items: center;
	column-gap: 10px;
	display: flex;
}

.grid-container #item5 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#item5 #round_arrow {
	position: relative;
	left: 28px;
	bottom: 5px;
	width: 40px;
	height: 40px;
	color: #ffffff;
	border-radius: 50%;
	font-size: 20px;
	background-color: grey;
}

#item3 {
	background-color: #000000;
	opacity: 0.4;
}

#round_arrow i {
	position: absolute;
	left: 6px;
	top: 10px;
	right: 4px;
}

#item5 {
	grid-area: 1 / 2 / 3 / 6;
}

.item_block {
	font-size: 20px;
	color: #ffffff;
	font-weight: 900;
	font-family: "Lato";
	text-align: center;
}

.item_block_italic {
	font-size: 16px;
	color: #ffffff;
	font-weight: 400;
	font-style: italic;
	font-family: "Playfair Display";
	text-align: center;
}

.size_bg {
	font-size: 50px;
	color: #000000;
	font-weight: 400;
	font-style: italic;
	font-family: "Playfair Display";
	text-align: center;
}

.size_sg {
	font-size: 12px;
	color: #000000;
	font-weight: 400;
	font-family: "Lato";
	text-align: center;
}

#main_content {
	display: flex;
	flex: 0, 1;
	gap: 30px;
	padding-top: 40px;
}

#main_content .choices {
	display: flex;
	padding-top: 20px;
	flex-direction: column;
	gap: 10px;
}

#main_content .choices #card_header {
	display: flex;
	column-gap: 106px;
	font-weight: 600;
	font-size: 14px;
}

#main_content .choices #blog_card_header {
	display: flex;
	column-gap: 210px;
	font-weight: 600;
	font-size: 14px;
}

#main_content .choices #card_content {
	display: flex;
	gap: 10px;
}

#main_content .choices #card_content #card_detail_description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 8px;
}

#main_content .choices #card_bg {
	background-color: #cccccc;
	width: 100px;
	height: 100px;
}

#card_detail_description #card_title {
	font-size: 13px;
	font-weight: bold;
}

#card_detail_description #card_price {
	font-size: 14px;
	opacity: 0.5;
	color: #959595;
}

#card_detail_description #card_category {
	font-size: 10px;
	text-align: left;
	color: white;
}

#card_detail_description #card_category #card_purple {
	background-color: #5064fa;
	padding: 3px;
}

#card_detail_description #card_category #card_green {
	background-color: #b4d93d;
	padding: 3px;
}

#card_detail_description #card_category #card_yellow {
	background-color: #fad232;
	padding: 3px;
}

#card_detail_description #card_category #card_gray {
	background-color: grey;
	padding: 3px;
}

#main_content .choices #blog_card_content {
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space;
	gap: 5px;
}

#main_content .choices #blog_card_bg {
	display: flex;
	width: 300px;
	height: 100px;
	background-color: #cccccc;
	align-items: flex-end;
	padding-left: 30px;
}

.choices #blog_card_content #blog_card_bg span {
	align-items: center;
	background-color: darkgrey;
	font-size: 10px;
	color: white;
	padding: 3px;
	font-weight: 400;
}

.choices #blog_card_content #blog_card_title {
	font-size: 14px;
	font-weight: 400;
}

.choices #blog_card_content #blog_card_link a {
	font-size: 12px;
	font-weight: 400;
	text-decoration: none;
}

footer {
	padding-top: 50px;
}

footer #charges {
	display: flex;
	gap: 50px;
	justify-content: space-evenly;
	padding: 30px;
	border: 1px solid black;
}

footer #charges #charges_shipping {
	display: flex;
	flex-direction: column;
	gap: 6px;
	justify-content: center;
	align-items: center;
}

footer #charges #charges_returns {
	display: flex;
	flex-direction: column;
	gap: 6px;
	justify-content: center;
	align-items: center;
}

#charges #charges_shipping #shipping_title {
	font-size: 20px;
	color: #000;
	font-weight: 900;
	text-align: center;
}

#charges #charges_returns #return_title {
	font-size: 20px;
	color: black;
	font-weight: 900;
	text-align: center;
}

#charges #charges_shipping #shipping_content {
	font-size: 16px;
	letter-spacing: 2px;
	font-weight: 400;
	font-style: italic;
	font-family: "Playfair Display";
}

#charges #charges_returns #return_content {
	font-size: 16px;
	letter-spacing: 2px;
	font-weight: 400;
	font-style: italic;
	font-family: "Playfair Display";
}

#charges #charges_shipping #shipping_link a {
	font-size: 12px;
	color: #1ba3d9;
	font-weight: 400;
}

#charges #charges_returns #return_link a {
	font-size: 12px;
	color: #1ba3d9;
	font-weight: 400;
}

#footer_info {
	padding-top: 40px;
	display: flex;
	column-gap: 9px;
}

#footer_info #left_side {
	background-color: #cccccc;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-inline: 100px;
	min-height: 400px;
}

#footer_info #left_side .input_data {
	margin: 40px 0px;
}

#footer_info #left_side h1 {
	font-size: 72px;
	line-height: 85px;
	color: #000000;
	font-weight: 400;
	font-family: "Playfair Display";
}

#footer_info #left_side #newsinfo {
	font-size: 16px;
	line-height: 30px;
	color: #000000;
	font-weight: 400;
	font-style: italic;
	font-family: "Playfair Display";
}

#footer_info #left_side .input_data {
	display: flex;
}

#footer_info #left_side .input_data #email {
	flex: 1;
	padding: 5px;
	border: none;
}

#footer_info #left_side .input_data #submit {
	border: none;
	padding: 8px 17px;
	background-color: #cf2226;
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	font-family: "Playfair Display";
	text-align: center;
	line-height: 30px;
}

#footer_info
	#left_side
	.input_data
	input[type="email"]::-webkit-input-placeholder {
	text-align: left;
	font-size: 14px;
	font-weight: 400;
}

#footer_infdo #left_side #newsletter {
	font-size: 72px;
	line-height: 85px;
	font-weight: 400;
	font-family: "Playfair Display";
}

#footer_info #social_media_matrix {
	display: flex;
	gap: 2px;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	align-items: center;
}

#footer_info #social_media_matrix .items {
	width: 100px;
	height: 140px;
	background-color: #cccccc;
}

#social_media_matrix .items:nth-child(7) {
	position: relative;
}

#social_media_matrix .box {
	background-color: #000000;
	position: absolute;
	text-align: center;
	font-size: 14px;
	font-size: 14px;
	color: #cccccc;
	width: 137px;
	bottom: 0;
}

#footer_data {
	display: flex;
	justify-content: space-evenly;
	padding-top: 40px;
}

#footer_data #footer_left {
	font-size: 14px;
	display: flex;
	align-items: flex-end;
	gap: 8px;
}

#footer_data #footer_right {
	display: flex;
	align-items: flex-end;
	gap: 8px;
}

#footer_data #footer_icon #bottom_to_top {
	padding: 15px;
	color: white;
	background-color: black;
	text-align: center;
	font-size: 18px;
}
