@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,900;1,100;1,400&family=Playfair+Display:ital,wght@0,400;0,900;1,400&display=swap");

* {
	padding: 0%;
	margin: 0%;
	font-family: "Lato";
	scroll-behavior: smooth;
}

.header_annoucment {
	padding-inline: 20%;
	display: flex;
	justify-content: space-between;
	font-size: 13px;
	color: #959595;
	border-bottom: 0.5px solid lightgrey;
}

.header_annoucment select {
	color: #959595;
	font-size: 13px;
}

.header_announcment_left {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.navbar {
	padding-inline: 20%;
}

.fa-search {
	font-size: 16px;
	text-decoration: none;
	color: black;
}

.navbar .shopping_cart_items {
	position: relative;
	font-size: 16px;
	text-decoration: none;
	color: black;
}

.navbar .shopping_cart_items .item_count {
	position: absolute;
	color: white;
	background-color: #cf2226;
	border-radius: 8px;
	width: 14px;
	height: 13px;
	left: 28px;
	text-align: center;
	bottom: 22px;
	font-weight: 900;
	font-size: 10px;
	line-height: 13px;
}

.header_announcment_right {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 10px;
}

.dropdownlist {
	position: relative;
	cursor: pointer;
}

.dropdownlist:hover ul {
	opacity: 1;
	display: flex;
}

.dropdownlist ul {
	display: none;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	list-style-type: none;
	position: absolute;
	background-color: white;
	color: #959595;
	z-index: 1;
	width: 163%;
	left: 65%;
	transform: translateX(-50%);
	font-size: 12px;
}

.dropdownlist ul li {
	padding: 5px;
	line-height: 30px;
	font-size: 12px;
}

.dropdownlist ul li:hover {
	text-decoration: underline;
}

.page_dropdownlist {
	position: relative;
	cursor: pointer;
}

.page_dropdownlist:hover ul {
	display: block;
}

.page_dropdownlist ul {
	display: none;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	list-style-type: none;
	position: absolute;
	background-color: white;
	color: black;
	z-index: 10;
	width: 135%;
	left: 60%;
	transform: translateX(-50%);
}

.page_dropdownlist ul li {
	padding: 5px;
	line-height: 30px;
	font-size: 15px;
}

.page_dropdownlist ul li:hover {
	text-decoration: underline;
}

.shipping {
	color: #959595;
	text-decoration: none;
	padding: 6px 20px;
}

.auth {
	text-decoration: none;
	color: #959595;
	padding: 7px;
}

.action_link button {
	background: none;
	border: none;
	font-size: 16px;
}

.link_rm {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	color: black;
	font-weight: 400;
	font-size: 16px;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
	padding-bottom: 10px;
}

.link_rm {
	position: relative;
}

.link_rm img {
	position: absolute;
	top: -5%;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
}

.link_rm:hover > img {
	opacity: 1;
}

.title {
	text-decoration: none;
	font-size: 43px;
	line-height: 30px;
	color: #252525;
	font-weight: 700;
	font-family: "Playfair Display";
}

.navbar .action_link {
	display: flex;
	font-size: 14px;
	font-family: "Lato";
	font-weight: 400;
	padding-top: 8px;
}

.navbar .action_link a {
	padding: 10px 15px;
}

.navbar .action_link button {
	padding: 10px 15px;
}

.fa-bars {
	display: none;
}

.img_container {
	position: relative;
	background-image: url("../images/cover1.jpg");
	background-size: cover;
	background-position: 30%;
	background-repeat: no-repeat;
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.img_container::before {
	content: "";
	display: block;
	background-color: black;
	opacity: 0.7;
	position: absolute;
	height: 100%;
	width: 100%;
}

.ltr > .img_left_lines {
	position: absolute;
	top: 40%;
	left: -40%;
	transform: rotate(270deg);
	opacity: 0;
	z-index: 1;
}

.ltr:hover > .img_left_lines {
	opacity: 1;
}

.rtl > .img_right_lines {
	position: absolute;
	top: 40%;
	right: -40%;
	transform: rotate(-270deg);
	opacity: 0;
	z-index: 1;
}

.rtl:hover > .img_right_lines {
	opacity: 1;
}

.img_container .sale {
	position: relative;
	line-height: 110px;
	margin-top: 20px;
	font-size: 100px;
	font-style: italic;
	font-family: "Playfair Display";
	color: #ffffff;
}

.align_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: relative;
}

.img_container .ltr {
	position: absolute;
	cursor: pointer;
	left: 2%;
	top: 50%;
	transform: translateY(-50%);
	padding: 20px;
	background-color: black;
	color: whitesmoke;
	font-size: 25px;
	border: none;
	opacity: 0.6;
}

.img_container .ltr:hover {
	opacity: 1;
}

.img_container .rtl {
	cursor: pointer;
	transform: translateY(-50%);
	top: 50%;
	background-color: black;
	color: whitesmoke;
	border: none;
	font-size: 25px;
	position: absolute;
	right: 3%;
	padding: 20px;
	opacity: 0.6;
}

.img_container .rtl:hover {
	opacity: 1;
}

.align_container .percentage_off {
	font-size: 120px;
	color: #ffffff;
}

.img_container .shop_now {
	text-decoration: none;
	background: none;
	border: 1px solid #ffffff;
	padding-inline: 20px;
	padding: 20px;
	margin-top: 40px;
	font-family: "Playfair Display";
	font-weight: 700;
	font-size: 18px;
	color: #ffffff;
}

.slider_footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2px;
	font-size: 18px;
	color: #ffffff;
	padding-top: 50px;
}

.slider_footer .ratios {
	font-size: 30px;
	color: #ffffff;
	font-weight: 700;
	font-family: "Playfair Display";
	text-align: center;
}

.slider_footer .end {
	font-size: 18px;
	line-height: 30px;
	color: #ffffff;
	font-weight: 700;
	font-family: "Playfair Display";
	text-align: center;
}

.slider_footer .season {
	font-size: 14px;
	line-height: 30px;
	color: #ffffff;
	font-weight: 400;
	text-align: center;
}

.header_category {
	padding-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	padding-inline: 20%;
}

.header_category .cards {
	text-decoration: none;
	display: flex;
	align-items: center;
	border: 1px solid black;
}

.cards .category_image {
	background-color: #cccccc;
	height: 100px;
	width: 100px;
	margin: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	object-fit: cover;
	color: white;
}

iframe {
	height: 100%;
	width: 100%;
}
.cards .category_image i {
	font-size: 50px;
}

.header_category .cards {
	max-width: 539px;
	width: 100%;
}

.header_category .cards:nth-child(2) {
	border-left: none;
	border-right: none;
}

.header_category .cards .description {
	margin-inline: -2px;
}

.header_category .cards .description img {
	display: block;
	margin-inline: auto;
	opacity: 0;
}

.header_category .cards:hover .description img {
	display: block;
	margin-inline: auto;
	opacity: 1;
}

.header_category .cards .description .category_title {
	font-size: 16px;
	color: #000000;
	font-weight: 700;
}

.header_category .cards .description .category_description {
	font-size: 12px;
	font-style: italic;
	color: #959595;
	font-weight: 400;
}

.header_content {
	padding-top: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header_content .header_content_title {
	font-size: 20px;
	color: #000000;
	font-weight: 900;
	font-family: "Lato";
	text-align: center;
}

.header_content .header_content_description {
	font-size: 16px;
	letter-spacing: 2px;
	color: #000000;
	font-weight: 400;
	font-style: italic;
	font-family: "Playfair Display";
	text-align: center;
}

.header_indicator {
	padding-top: 20px;
	display: flex;
	gap: 9px;
	justify-content: center;
	align-items: center;
}

.header_indicator span {
	display: block;
	background-color: #cccccc;
	border-radius: 50%;
	width: 5px;
	height: 5px;
}

.sections {
	padding-inline: 20%;
	padding-top: 25px;
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.sections .section_img {
	text-decoration: none;
	color: black;
	position: relative;
	height: 250px;
	background-color: #cccccc;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.sections .img1 {
	background-image: url("../images/black-hooded.jpeg");
	background-size: 100%;
	background-repeat: no-repeat;
}

.sections .img2 {
	background-image: url("../images/fine-cardigan.jpeg");
	background-size: 100%;
	background-repeat: no-repeat;
	object-fit: fill;
}

.sections .img3 {
	background-image: url("../images/light-pink-parka.jpeg");
	background-size: 120%;
	background-repeat: no-repeat;
}

.sections .img4 {
	background-image: url("../images/denim-dress.jpeg");
	background-size: 100%;
	background-repeat: no-repeat;
}

.sections .img5 {
	background-image: url("../images/NYC.jpeg");
	background-size: 100%;
	background-repeat: no-repeat;
}

.sections .img6 {
	background-image: url("../images/batmen-tshirts.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
}

.sections .img7 {
	background-image: url("../images/denim-shorts.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
}

.sections .section_title {
	font-size: 16px;
	font-weight: 400;
	color: #000000;
	text-decoration: none;
}

.sections .section_description {
	font-size: 14px;
	color: #959595;
	text-decoration: none;
	font-weight: 400;
	font-family: "Playfair Display";
}

.sections .section_parition {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
}

.sections .section_parition .section_info {
	text-decoration: none;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sections .section_parition .section_info img {
	opacity: 0;
}

.sections .section_parition .section_info:hover img {
	opacity: 1;
}

.clickable {
	cursor: pointer;
}
.sections .section_parition .section_img .far {
	display: inline-block;
	height: 30px;
	font-size: 16px;
	opacity: 0.4;
	background-color: #000;
	border-radius: 50%;
	color: #fff;
	padding: 5px;
	text-align: center;
	margin-inline: 1px;
	width: 30px;
	line-height: 30px;
}

.sections .section_parition .section_img .far:hover {
	background-color: black;
	opacity: 1;
}

.section_parition .section_img .editor {
	position: absolute;
	bottom: 0%;
	padding: 5px 5px;
	background-color: #5064fa;
	font-family: "Lato";
	font-size: 10px;
	color: #ffffff;
	font-weight: 500;
}

.section_parition .section_img .exclusive {
	position: absolute;
	bottom: 0%;
	padding: 5px 5px;
	background-color: #fad232;
	font-family: "Lato";
	font-size: 10px;
	color: #ffffff;
	font-weight: 500;
}

.section_parition .section_img .sales_off {
	position: absolute;
	background-color: #959595;
	width: 60px;
	height: 15px;
	left: 75px;
	text-align: center;
	bottom: 0%;
	font-family: "Lato";
	font-size: 10px;
	color: #ffffff;
	font-weight: 500;
}

.section_parition .section_img .new {
	background-color: #b4d93d;
	position: absolute;
	bottom: 0%;
	padding: 5px 5px;
	font-family: "Lato";
	font-size: 10px;
	color: #ffffff;
	font-weight: 500;
}

.sections .section_parition .section_img .actions_hide {
	display: flex;
	flex-direction: column;
	gap: 10px;
	cursor: pointer;
	opacity: 0;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.sections .section_parition .section_img .actions_hide:hover {
	opacity: 1;
}

.sections .section_img:hover {
	opacity: 0.9;
}

.grid-container {
	margin-inline: 20%;
	padding-top: 60px;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 15px;
}

.grid-container > a {
	text-decoration: none;
	background-color: lightgrey;
	text-align: center;
	padding: 50px 0;
	width: 100%;
	min-height: 100px;
	font-size: 30px;
}

.grid-container .item1,
.item2,
.item3,
.item4 {
	justify-content: center;
	flex-direction: column;
	align-items: center;
	column-gap: 10px;
	display: flex;
	position: relative;
}

.grid-container .item-img1 {
	background-image: url("../images/different-denim.jpeg");
	background-position: 40%;
	background-repeat: repeat;
}

.grid-container .item-img2 {
	background-image: url("../images/men-women-accessroies.jpeg");
	background-position: 20%;
	background-repeat: repeat;
}

.grid-container .item-img3 {
	background-image: url("../images/shoes.jpeg");
	background-position: 50%;
	background-repeat: repeat;
}

.grid-container .item-img4 {
	background-image: url("../images/tshirt-vest.jpg");
	background-position: 100%;
	background-repeat: no-repeat;
}

.circlewhite {
	color: white;
	font-size: 44px;
}

.boldedstyles {
	font-weight: 700;
	color: black;
}

.grid-container .item5 {
	background-image: url("../images/tshirt-vest.jpg");
	background-position: 30% top;
	background-size: 100%;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 360px;
}

.item5 .round_arrow {
	position: relative;
	width: 46px;
	height: 46px;
	color: #ffffff;
	border-radius: 50%;
	font-size: 24px;
	background-color: grey;
}

.item1:hover,
.item2:hover,
.item3:hover,
.item4:hover {
	background-color: black;
	opacity: 0.6;
}

.item5:hover {
	opacity: 0.5;
}

.round_arrow i {
	position: absolute;
	left: 6px;
	top: 10px;
	right: 4px;
}

.item5 {
	display: flex;
	flex-direction: row;
	grid-area: 1 / 2 / 3;
}

.item_block {
	font-size: 20px;
	color: #ffffff;
	font-weight: 900;
	font-family: "Lato";
	text-align: center;
	position: relative;
}

.item1:hover .item_block::before,
.item3:hover .item_block::before,
.item4:hover .item_block::before,
.item5:hover .item_block::before {
	position: absolute;
	content: "";
	background-image: url("../images/hover-detail-white.png");
	background-repeat: no-repeat;
	display: block;
	height: 20px;
	width: 20px;
	top: -25%;
	left: 45%;
}

.item_block_italic {
	font-size: 16px;
	color: #ffffff;
	font-weight: 400;
	font-style: italic;
	font-family: "Playfair Display";
	text-align: center;
}

.item_block_italic.black {
	font-size: 30px;
	color: #000000;
	font-weight: 700;
	font-style: italic;
	font-family: "Playfair Display";
	text-align: center;
}

.size_bg {
	font-size: 110px;
	color: #000000;
	font-weight: 400;
	font-style: italic;
	font-family: "Playfair Display";
}

.size_sg {
	font-size: 12px;
	color: #000000;
	font-weight: 400;
	font-family: "Lato";
	text-align: center;
}

.main_content {
	margin-inline: 20%;
	display: flex;
	gap: 16px;
	padding-top: 40px;
}

.main_content .choices {
	display: flex;
	padding-top: 20px;
	flex-direction: column;
	gap: 10px;
	flex: 1;
}

.main_content .choices .card_header {
	display: flex;
	column-gap: 106px;
	font-weight: 600;
	font-size: 14px;
	justify-content: space-between;
}

.main_content .choices .card_header i {
	color: #cccccc;
}

.main_content .choices .blog_card_header {
	display: flex;
	column-gap: 234px;
	font-weight: 600;
	font-size: 14px;
	justify-content: space-between;
}

.main_content .choices .blog_card_header i {
	color: #cccccc;
}

.main_content .choices .card_content {
	text-decoration: none;
	color: black;
	display: flex;
	gap: 10px;
}

.main_content .choices .card_content .card_detail_description ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 8px;
}

.main_content .choices .card_content .card_detail_description img {
	margin-inline: auto;
	opacity: 0;
}

.main_content .choices .card_content .card_detail_description:hover img {
	margin-inline: auto;
	opacity: 1;
}

.main_content .choices .card_bg {
	background-color: #cccccc;
	width: 100px;
	height: 100px;
}

.card1 {
	background-image: url("../images/black-hooded.jpeg");
	background-size: cover;
	background-position: center;
}

.card2 {
	background-image: url("../images/batmen-tshirts.jpeg");
	background-size: cover;
	background-position: center;
}

.card3 {
	background-image: url("../images/light-pink-parka.jpeg");
	background-size: cover;
	background-position: center;
}

.card4 {
	background-image: url("../images/NYC.jpeg");
	background-size: cover;
	background-position: center;
}

.card5 {
	background-image: url("../images/denim-shorts.jpeg");
	background-size: cover;
	background-position: center;
}

.card6 {
	background-image: url("../images/10-hot-trends.jpeg");
	background-size: cover;
	background-position: center 20%;
}

.card7 {
	background-image: url("../images/styles-for-summer.jpeg");
	background-size: cover;
	background-position: center 10%;
}

.card8 {
	background-image: url("../images/shoes.jpeg");
	background-size: cover;
	background-position: center 10%;
}

.card9 {
	background-image: url("../images/men-women-accessroies.jpeg");
	background-size: cover;
	background-position: center 10%;
}

.main_content .choices .card_bg {
	position: relative;
	font-size: 30px;
}

.main_content .choices .card_bg .cart_circle {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 85%;
	top: 85%;
	transform: translate(-50%, -50%);
	opacity: 0;
}

.main_content .choices .card_bg .cart_circle:hover,
.main_content .choices .card_bg:hover {
	opacity: 0.9;
}

.card_detail_description .card_title {
	font-size: 13px;
	font-weight: bold;
	list-style-type: none;
}

.card_detail_description .card_price {
	font-family: "Playfair Display";
	font-weight: 400;
	font-size: 14px;
	color: #959595;
	list-style-type: none;
}

.card_detail_description .card_price b {
	font-family: "Playfair Display";
	font-weight: 800;
	font-size: 14px;
	color: black !important;
}

.card_detail_description .card_category {
	font-size: 10px;
	text-align: left;
	color: white;
}

.card_detail_description .card_category .card_purple {
	background-color: #5064fa;
	padding: 3px;
}

.card_detail_description .card_category .card_green {
	background-color: #b4d93d;
	padding: 3px;
}

.card_detail_description .card_category .card_yellow {
	background-color: #fad232;
	padding: 3px;
}

.card_detail_description .card_category .card_gray {
	background-color: grey;
	padding: 3px;
}

.main_content .choices .blog_card_content {
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 5px;
}

.main_content .choices .blog_card_bg {
	display: flex;
	min-width: 340px;
	height: 100px;
	background-color: #cccccc;
	align-items: flex-end;
	padding-left: 20px;
	cursor: pointer;
}

.choices .blog_card_content .blog_card_bg span {
	align-items: center;
	background-color: darkgrey;
	font-size: 10px;
	color: white;
	padding: 3px;
	font-weight: 400;
}

.main_content .choices .blog_card_bg:hover {
	opacity: 0.5;
}

.blog_card_title {
	cursor: pointer;
}

.main_content
	.choices
	.blog_card_bg:hover
	.blog_card_detail_description
	.blog_card_link {
	text-decoration: underline;
}

.choices .blog_card_content .blog_card_title {
	font-size: 14px;
	font-weight: 400;
}

.choices .blog_card_content .blog_card_link a {
	font-size: 12px;
	font-weight: 400;
	text-decoration: none;
	color: #1ba3d9;
}

footer {
	padding-top: 50px;
}

footer .charges {
	display: flex;
	justify-content: space-evenly;
	margin-inline: 20%;
}

footer .charges .charges_shipping {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	gap: 6px;
	padding: 40px;
	flex: 1;
	border-right: none;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
}

footer .charges .charges_returns {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	gap: 6px;
	flex: 1;
	padding: 40px;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	border-left: none;
}

.charges .charges_shipping .shipping_title {
	font-size: 20px;
	color: #000;
	font-weight: 900;
	text-align: center;
}

.charges .charges_returns .return_title {
	font-size: 20px;
	color: black;
	font-weight: 900;
	text-align: center;
}

.charges .charges_shipping img {
	opacity: 0;
}

.charges .charges_shipping:hover .shipping_link a {
	text-decoration: underline;
}

.charges .charges_shipping:hover img {
	opacity: 1;
}

.charges .charges_returns img {
	opacity: 0;
}

.charges .charges_returns:hover .return_link a {
	text-decoration: underline;
}

.charges .charges_returns:hover img {
	opacity: 1;
}

.goods_info {
	text-decoration: none;
}

.charges .charges_shipping .shipping_content {
	font-size: 16px;
	letter-spacing: 2px;
	font-weight: 400;
	font-style: italic;
	font-family: "Playfair Display";
}

.charges .charges_returns .return_content {
	font-size: 16px;
	letter-spacing: 2px;
	font-weight: 400;
	font-style: italic;
	font-family: "Playfair Display";
}

.charges .charges_shipping .shipping_link a {
	font-size: 12px;
	color: #1ba3d9;
	font-weight: 400;
}

.charges .charges_returns .return_link a {
	font-size: 12px;
	color: #1ba3d9;
	font-weight: 400;
}

.footer_info {
	margin-inline: 20%;
	padding-top: 40px;
	display: flex;
	column-gap: 9px;
}

.footer_info .left_side {
	background-color: #ccc;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	min-height: 263px;
	padding-inline: 55px;
}

.footer_info .left_side .input_data {
	margin: 40px 0px;
}

.footer_info .left_side h1 {
	font-size: 72px;
	line-height: 85px;
	color: #000000;
	font-weight: 400;
	font-family: "Playfair Display";
}

.footer_info .left_side .newsinfo {
	font-size: 16px;
	line-height: 30px;
	color: #000000;
	font-weight: 400;
	font-style: italic;
	font-family: "Playfair Display";
}

.footer_info .left_side .input_data {
	display: flex;
}

.footer_info .left_side .input_data .email {
	flex: 1;
	padding: 19px;
	border: none;
}

.footer_info .left_side .input_data .submit {
	cursor: pointer;
	border: none;
	padding: 8px 17px;
	background-color: #cf2226;
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	font-family: "Playfair Display";
	text-align: center;
	line-height: 30px;
}

.footer_info
	.left_side
	.input_data
	input[type="email"]::-webkit-input-placeholder {
	text-align: left;
	font-size: 14px;
	font-weight: 400;
}

input[type="email"]:focus-visible {
	outline: none;
}

input[type="submit"]:focus-visible {
	outline: none;
}

#footer_infdo .left_side .newsletter {
	font-size: 72px;
	line-height: 85px;
	font-weight: 400;
	font-family: "Playfair Display";
}

.footer_info .social_media_matrix {
	display: flex;
	gap: 3px;
	flex-wrap: wrap;
	align-content: center;
	justify-content: flex-end;
	align-items: stretch;
	min-width: 33%;
	max-width: 35%;
	width: 35%;
	max-height: 100%;
}

.footer_info .social_media_matrix .items {
	min-width: 30%;
	aspect-ratio: 1;
	background-color: #ccc;
}

.social_media_matrix .items:nth-child(7) {
	position: relative;
}

.social_media_matrix .box {
	background-color: #000000;
	position: absolute;
	text-align: center;
	font-size: 14px;
	font-size: 14px;
	color: #cccccc;
	width: 137px;
	bottom: 0;
}

.footer_data {
	margin-inline: 20%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-top: 40px;
}

.footer_data .footer_left {
	display: flex;
	gap: 14px;
	align-items: baseline;
	justify-content: flex-end;
	margin-bottom: 18px;
}

.footer_data .footer_right {
	display: flex;
	gap: 14px;
	align-items: baseline;
	justify-content: flex-end;
	margin-bottom: 18px;
}

.bottom_to_top {
	position: sticky;
	padding: 12px;
	color: white;
	bottom: 0;
	left: 50%;
	border: none;
	transform: translateX(-50%);
	background-color: black;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
	margin-inline: 60px;
}

.footer_data #footer_title {
	text-decoration: none;
	font-size: 30px;
	line-height: 10px;
	color: #252525;
	font-weight: 700;
	font-family: "Playfair Display";
}

.footer_data .footer_text {
	font-size: 12px;
	line-height: 24px;
	color: #959595;
	font-weight: 400;
	font-family: "Lato";
	text-decoration: none;
}

.bottom_to_top > .img_top_lines {
	position: absolute;
	bottom: 120%;
	opacity: 0;
}

.bottom_to_top:hover > .img_top_lines {
	opacity: 1;
}

.shipping-icon {
	display: none;
}

.check-box,
.fa-bars,
.sm-links {
	display: none;
}

@media screen and (max-width: 650px) {
	.check-box,
	.fa-bars {
		display: block;
	}
	input[type="checkbox"] {
		position: absolute;
		left: 0;
		height: 30px;
		width: 30px;
		opacity: 0;
		z-index: 100;
	}

	input[type="checkbox"]:checked  ~ .action_link {
		opacity: 1;
	}

	.header_announcment_left {
		margin-inline: 4px;
	}

	.auth {
		padding: 2px;
	}

	.header_annoucment {
		padding-inline: 0px;
		display: flex;
		justify-content: space-evenly;
		font-size: 13px;
		color: #959595;
		border-bottom: 0.5px solid #d3d3d3;
	}

	.fa-bars,
	.shipping-icon {
		display: block;
	}

	.shipping-icon a {
		text-decoration: underline;
		color: #959595;
	}

	.shipping,
	.header_announcment_left .sl-title {
		display: none;
	}

	.header_announcment_right {
		position: relative;
	}

	.navbar {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		padding-top: 20px;
		padding-inline: 0%;
	}

	.center {
		padding-left: 100px;
	}

	.navbar .action_link {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		background-color: white;
		width: 100%;
		position: absolute;
		top: 100%;
		z-index: 9;
		opacity: 0;
	}

	.fa-bars {
		font-size: 24px;
		padding-left: 10px;
	}

	.sm-links {
		display: flex;
		justify-content: flex-end;
		gap: 10px;
		padding-left: 60px;
		margin-right: 9px;
	}

	.navbar .shopping_cart_items .item_count {
		left: 20px;
		bottom: 18px;
	}

	.header_category {
		display: flex;
		flex-direction: column;
		padding-left: 89px;
	}

	.header_category .cards {
		width: 100%;
		min-width: 350px;
	}

	.header_category .cards:nth-child(2) {
		border-left: 1px solid black;
		border-right: 1px solid black;
		border-top: none;
		border-bottom: none;
	}

	.img_container {
		position: relative;
		background-size: cover;
		background-position: 30%;
		background-repeat: no-repeat;
		display: flex;
		position: relative;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 10px;
	}

	.img_container::before {
		content: "";
		display: block;
		background-color: black;
		position: absolute;
		height: 100%;
		width: 100%;
		opacity: 0.6;
	}

	.img_container .ltr {
		position: absolute;
		cursor: pointer;
		left: 5%;
		top: 50%;
		transform: translateY(-50%);
		padding: 10px;
		background-color: #000;
		color: #f5f5f5;
		font-size: 26px;
		border: none;
		opacity: 0.6;
	}

	.img_container .sale {
		position: relative;
		line-height: 50px;
		font-size: 40px;
		font-style: italic;
		font-family: "Playfair Display";
		color: #fff;
	}

	.align_container .percentage_off {
		font-size: 37px;
		color: #fff;
	}

	.img_container .shop_now {
		text-decoration: none;
		background: 0 0;
		border: 1px solid #fff;
		padding-inline: 20px;
		padding: 7px;
		margin-top: 7px;
		font-family: "Playfair Display";
		font-weight: 700;
		font-size: 18px;
		color: #fff;
	}

	.slider_footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2px;
		font-size: 18px;
		color: #fff;
		padding-top: 22px;
	}

	.slider_footer .ratios {
		font-size: 19px;
		color: #fff;
		font-weight: 700;
		font-family: "Playfair Display";
		text-align: center;
	}

	.slider_footer .end {
		font-size: 14px;
		line-height: 20px;
		color: #fff;
		font-weight: 700;
		font-family: "Playfair Display";
		text-align: center;
	}

	.slider_footer .season {
		font-size: 11px;
		line-height: 21px;
		color: #fff;
		font-weight: 400;
		text-align: center;
	}

	.img_container .rtl {
		cursor: pointer;
		transform: translateY(-50%);
		top: 50%;
		background-color: #000;
		color: #f5f5f5;
		border: none;
		font-size: 26px;
		position: absolute;
		right: 5%;
		padding: 10px;
		opacity: 0.6;
	}

	.sections {
		display: flex;
		flex-direction: column;
		padding-inline: 10%;
		padding-top: 15px;
		justify-content: space-between;
		gap: 5px;
	}

	.sections .section_parition .section_info {
		margin-bottom: 20px;
	}

	.grid-container {
		display: flex;
		flex-direction: column;
		padding-inline: 10%;
		margin: 0%;
	}

	.grid-container .item5 {
		width: 100%;
		max-height: 100px;
		display: flex;
		flex-direction: column;
		gap: 16px;
		min-width: 100px;
	}

	.item_block_italic.black {
		font-size: 20px;
		color: #000;
		font-weight: 700;
		font-style: italic;
		font-family: "Playfair Display";
		text-align: center;
	}

	.size_bg {
		font-size: 30px;
		color: #000;
		font-weight: 400;
		font-style: italic;
		font-family: "Playfair Display";
	}

	.item5 .round_arrow {
		position: relative;
		width: 8px;
		padding: 13px;
		color: #fff;
		border-radius: 50%;
		font-size: 24px;
		background-color: grey;
	}

	.round_arrow i {
		position: absolute;
		left: 7px;
		top: 5px;
		right: 4px;
		font-size: 16px;
	}

	.main_content .choices .card_header {
		display: flex;
		column-gap: 16px;
		font-weight: 600;
		font-size: 14px;
		justify-content: space-between;
	}

	.main_content {
		padding-inline: 7%;
		display: flex;
		gap: 16px;
		flex-direction: column;
		padding-top: 10px;
		margin-inline: 0%;
	}

	.main_content .choices {
		display: flex;
		padding-top: 20px;
		flex-direction: column;
		gap: 10px;
		width: 100%;
	}

	.main_content .choices .blog_card_header {
		display: flex;
		column-gap: 93px;
		font-weight: 600;
		font-size: 14px;
		justify-content: space-between;
	}

	.main_content .choices .blog_card_content {
		padding-top: 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		gap: 5px;
	}

	.main_content .choices .blog_card_bg {
		display: flex;
		min-width: 281px;
		height: 100px;
		background-color: #ccc;
		align-items: flex-end;
		padding-left: 20px;
		cursor: pointer;
	}

	.footer .charges {
		display: flex;
		justify-content: space-evenly;
		padding-inline: 11%;
	}

	footer .charges {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		margin-inline: 7%;
	}

	footer .charges .charges_shipping {
		cursor: pointer;
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 13px;
		flex: 1;
		border-right: none;
		justify-content: center;
		align-items: center;
		border: 1px solid #000;
		border-bottom: none;
	}

	footer .charges .charges_returns {
		cursor: pointer;
		display: flex;
		flex-direction: column;
		gap: 20px;
		flex: 1;
		padding: 13px;
		justify-content: center;
		align-items: center;
		border: 1px solid #000;
		border-left: 1px solid black;
	}

	.footer_data {
		display: flex;
		flex-direction: row;
		margin-inline: 5%;
		justify-content: space-between;
		align-items: flex-end;
		padding-top: 40px;
	}

	.footer_data .footer_left {
		display: flex;
		flex-direction: column;
		gap: 22px;
		align-items: center;
		justify-content: center;
		margin-bottom: 18px;
	}

	.footer_data .footer_right {
		display: flex;
		flex-direction: column;
		gap: 14px;
		align-items: center;
		justify-content: flex-end;
		margin-bottom: 18px;
	}

	.bottom_to_top {
		position: sticky;
		padding: 12px;
		color: #fff;
		background-color: #000;
		text-align: center;
		font-size: 18px;
		cursor: pointer;
		margin-inline: 60px;
		border: none;
	}

	.title {
		text-decoration: none;
		font-size: 33px;
		line-height: 24px;
		color: #252525;
		font-weight: 700;
		font-family: "Playfair Display";
	}

	.fa-search {
		font-size: 24px;
	}

	.navbar .shopping_cart_items {
		font-size: 24px;
	}

	.footer_data .footer_text {
		font-size: 12px;
		line-height: 24px;
		color: #959595;
		font-weight: 400;
		font-family: Lato;
		text-decoration: none;
	}

	.footer_info {
		display: flex;
		row-gap: 9px;
		flex-direction: column;
		margin-inline: 7%;
	}

	.footer_info .left_side {
		background-color: #ccc;
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: center;
		min-height: 263px;
		padding-inline: 25px;
	}

	.footer_info .left_side .input_data {
		margin: 29px 0;
	}

	.footer_info .left_side .input_data .email {
		flex: 1;
		padding: 15px;
		border: none;
	}

	.footer_info .left_side .input_data .submit {
		padding: 8px 10px;
	}

	.footer_info .left_side h1 {
		font-size: 52px;
		line-height: 85px;
		color: #000;
		font-weight: 400;
		font-family: "Playfair Display";
	}

	.footer_info .social_media_matrix {
		display: flex;
		gap: 3px;
		flex-wrap: wrap;
		align-content: center;
		justify-content: flex-start;
		align-items: stretch;
		min-width: 100%;
		max-width: 35%;
		width: 35%;
		max-height: 100%;
	}

	.footer-demo {
		position: sticky;
		bottom: 0;
		padding: 20px;
		left: 50%;
		transform: translateX(-50%);
	}
}
